mixin phone(phone)
    li.officePhone= phone

mixin fax(fax)
    li.officeFax= fax 

mixin email(email)
    li.officeEmail= email 

mixin location(location)
    li.officeLocation= location 

mixin name(name)
    li.officeName= name